doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name = "description" , content = "hello")
        title Document
        link(rel="stylesheet", href="../css/all.min.css")
        link(rel="stylesheet", href="../css/main.css")
    body 
        header 
            .container 
                .content
                    h3.logo Shortly
                    nav
                        ul.left 
                            li.item futer
                            li.item pricing
                            li.item resours 
                        ul.right 
                            li Login 
                            li sign Up
                    <i class="fa-solid fa-align-justify btn-show"></i>
        section#landing
            .container 
                .content 
                    .text 
                        h1.title More then just Shorter Links
                        p Lorem ipsum dolor sit amet adipisicing elit. Suscipit, pariatur!3amet consectetur adipisicing elit. Suscipit, pariatur!3
                        button Get Started

                    .img 
                        img(src="../img/illustration-working.svg", alt="") 
        #search 
            .container 
                .content 
                    input(type="text" placeholder = "short link")
                    input(type="submit", value="Short Now") 
        #links 
            .container 
                .content 
                
        #title-tow 
            .container 
                .content 
                    h1 Advinced Static 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elitconsectetur adipisicing elit. Oconsectetur adipisicing elit. O. Odit, harum. Tempore ratione iusto totam odio.
        #parts 
            .container 
                .content 
                    .part.part1 
                        .imeg
                            img(src="../img/icon-brand-recognition.svg", alt="")
                        h3 Brand Recogetion 
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi minima expedita voluptatum, eveniet minus debitis voluptas. Atque cumque ipsa asperiores?
                    .part.part2
                        .imeg
                            img(src="../img/icon-detailed-records.svg", alt="")
                        h3 Brand Recogetion 
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi minima expedita voluptatum, eveniet minus debitis voluptas. Atque cumque ipsa asperiores?
                    .part.part3
                        .imeg
                            img(src="../img/icon-fully-customizable.svg", alt="")
                        h3 Brand Recogetion 
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi minima expedita voluptatum, eveniet minus debitis voluptas. Atque cumque ipsa asperiores?
        
        #bootset 
            .container 
                .content 
                    .text 
                        h1 Bootser Your Link Today
                        button Get Started
        footer 
            .container 
                .content 
                    .col.logo 
                        h1 Shortly 
                    .col
                        h3.title futer 
                        p.titleLink #[a(href = "https://www.facebook.com/" , class = "link") link shoring] 
                        p.titleLink #[a(href = "https://www.facebook.com/" , class = "link") link shoring] 
                        p.titleLink #[a(href = "https://www.facebook.com/" , class = "link") link shoring] 
                    .col
                        h3.title futer 
                        p.titleLink #[a(href = "https://www.facebook.com/" , class = "link") link shoring] 
                        p.titleLink #[a(href = "https://www.facebook.com/" , class = "link") link shoring] 
                        p.titleLink #[a(href = "https://www.facebook.com/" , class = "link") link shoring] 
                    .col
                        h3.title futer 
                        p.titleLink #[a(href = "https://www.facebook.com/" , class = "link" ) link shoring] 
                        p.titleLink #[a(href = "https://www.facebook.com/" , class = "link") link shoring] 
                        p.titleLink #[a(href = "https://www.facebook.com/" , class = "link") link shoring] 
                        p.titleLink #[a(href = "https://www.facebook.com/" , class = "link") link shoring] 
                        p.titleLink #[a(href = "https://www.facebook.com/" , class = "link") link shoring] 
                    .col.sohil 
                        a(href = `https://www.facebook.com/`) #[<i class="fa-brands fa-facebook"></i>] 
                        a(href = `https://www.facebook.com/`) #[<i class="fa-brands fa-facebook"></i>] 
                        a(href = `https://www.facebook.com/`) #[<i class="fa-brands fa-facebook"></i>] 
                        a(href = `https://www.facebook.com/`) #[<i class="fa-brands fa-facebook"></i>] 
        script(src="../js/main.js")  
        
